In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
# Part-I
incomeDf = pd.read_csv('test.csv')

In [3]:
pd.DataFrame(incomeDf.head())
incomeDf[['age','fnlwgt']]

     age  fnlwgt
0     39  327120
1     32  123253
2     47  232628
3     19  374262
4     46  311231
..   ...     ...
894   27  302406
895   17  218124
896   24  127139
897   35  132879
898   37   44694

[899 rows x 2 columns]

In [4]:
Categories = incomeDf.groupby('age')['fnlwgt'].agg(['count','mean','std','median','max','min'])
print(Categories)

     count           mean            std    median     max     min
age
17       4  223717.750000   58500.463248  230421.0  286960  147069
18      12  204015.500000  115335.154026  187721.5  436163   77845
19      10  245412.700000  119042.818402  242466.0  386378   41400
20       9  199805.000000   94893.927705  186014.0  421474   83141
21      22  173150.136364   96523.844915  153308.0  438139   38772
..     ...            ...            ...       ...     ...     ...
74       1  148003.000000            NaN  148003.0  148003  148003
75       1  186808.000000            NaN  186808.0  186808  186808
80       1  120796.000000            NaN  120796.0  120796  120796
82       1  240491.000000            NaN  240491.0  240491  240491
90       1  206667.000000            NaN  206667.0  206667  206667

[61 rows x 6 columns]

In [5]:
# Part-II
irisDf = pd.read_csv('iris.csv')

In [6]:
setosa = irisDf[irisDf['Species'] =='Iris-setosa']
versicolor = irisDf[irisDf['Species'] =='Iris-versicolor']
virginica = irisDf[irisDf['Species'] =='Iris-virginica']

In [7]:
means = pd.DataFrame.mean(setosa[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']])
print(means)
SD = np.std(setosa[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']])
print(SD)
setosa.quantile([0.5, 1])

SepalLengthCm    5.006
SepalWidthCm     3.418
PetalLengthCm    1.464
PetalWidthCm     0.244
dtype: float64
SepalLengthCm    0.348947
SepalWidthCm     0.377195
PetalLengthCm    0.171767
PetalWidthCm     0.106132
dtype: float64

       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0.5  25.5            5.0           3.4            1.5           0.2
1.0  50.0            5.8           4.4            1.9           0.6

In [8]:
means = pd.DataFrame.mean(versicolor[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']])
print(means)
SD = np.std(versicolor[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']])
print(SD)
setosa.quantile([0.5, 1])

SepalLengthCm    5.936
SepalWidthCm     2.770
PetalLengthCm    4.260
PetalWidthCm     1.326
dtype: float64
SepalLengthCm    0.510983
SepalWidthCm     0.310644
PetalLengthCm    0.465188
PetalWidthCm     0.195765
dtype: float64

       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0.5  25.5            5.0           3.4            1.5           0.2
1.0  50.0            5.8           4.4            1.9           0.6

In [9]:
means = pd.DataFrame.mean(virginica[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']])
print(means)
SD = np.std(virginica[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']])
print(SD)
virginica.quantile([0.5, 1])

SepalLengthCm    6.588
SepalWidthCm     2.974
PetalLengthCm    5.552
PetalWidthCm     2.026
dtype: float64
SepalLengthCm    0.629489
SepalWidthCm     0.319255
PetalLengthCm    0.546348
PetalWidthCm     0.271890
dtype: float64

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0.5  125.5            6.5           3.0           5.55           2.0
1.0  150.0            7.9           3.8           6.90           2.5